@page "/game/{Name}"



Game Name: @Name

@if (errorMessage != null)
{
  <div>@errorMessage</div>
}


@code {

  [Parameter]
  public string Name { get; set; }


  private Game? thisGame { get; set; } = null;
  private string? errorMessage { get; set; } = null;

  protected override void OnInitialized()
  {
    try
    {

      thisGame = Lobby.Games.First(
      (Game game) =>
      {
        return game.Name == Name;
      }
      );
    }
    catch (Exception e)
    {
      @* name was not valid *@
      errorMessage = "Name Not Valid";
    }
  }
}