@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div>
  <ul>
  @foreach (Game game in Lobby.Games)
    {
      <li>
        <a href=@($"/game/{game.Name}")>

          @game.Name - Players: @game.NumberOfPlayers
        </a>
      </li>
    }
  </ul>

  New Game Name: <input @bind=nameInput placeholder="Type Game Name">
  <button @onclick=CreateGame>Create Game</button>
</div>

@code {
  string nameInput = "";
  protected override void OnInitialized()
  {
    @* startup logic here, does job of constructor *@
    Lobby.GameListChanged += Refresh;
  }
  void CreateGame()
  {
    Game newGame = new Game();
    newGame.Name = nameInput;
    newGame.NumberOfPlayers = 0;

    nameInput = "";

    Lobby.Games.Add(newGame);
    Lobby.RunGameListChangedEvent();

  }

  void Refresh()
  {
    InvokeAsync(StateHasChanged);
  }

}